body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #0c67ae;
}

#title {
    height: 150px;
    width: 400px;
}

#board {
    width: 360px;
    height: 360px;
    background-color: lightblue;
    border: 10px solid #0c67ae;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

#board img {
    width: 118px;
    height: 118px;
    border: 1px solid #060d12;
}

#pieces{
    width: 804px;
    height: 99px;
   
    
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
    }
#pieces img {
    width: 88px;
    height: 98px;
    border: 1px solid #060d12;
}
@media screen and (max-width: 660px) {
    #pieces {
            width: 358px;
            height: 99px;
          
    
            margin: 0 auto;
            display: flex;
            flex-wrap: wrap;
        }
}